<%- include("header") -%>

    <div class="contact">
        <h1>윤승우 Seungwoo Yun</h1>
        <img src="https://avatars.githubusercontent.com/u/103883076?v=4" alt="myface">
        <br>
        <a href="https://twitter.com/yun_seungwoo">Twitter</a><br>
        <a href="https://www.instagram.com/seungwoo_yoooon">Instagram</a><br>
        <a href="https://www.linkedin.com/in/%EC%9C%A4%EC%8A%B9%EC%9A%B0-seungwoo-yun-25055b247/">Linkedin</a>
        <p>+82 010 2423 9680</p>
    </div>


    <%- include("footer") -%>